header {
    display: flex;
    gap: 1rem;
    padding: .5rem 1rem;
    background: hsla(271, 36%, 23%, 0.2);
    transition: gap .2s ease-in-out, padding .2s ease-in-out;
    position: relative;
}
header::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(90deg, hsla(271, 36%, 23%, 0.5), hsla(271, 36%, 23%, 0.25),transparent, transparent);
    z-index: -1;
}
header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(255,255,255,.01) 1px, transparent), linear-gradient(90deg,rgba(255,255,255,.01) 1px, transparent);
    background-size: 10px 10px;
    z-index: -2;
}
/* Header Left Side */
header .lh {
    display: grid;
    place-items: center;
    background: hsla(271, 36%, 23%, 1);
    border: 3px solid hsla(270, 100%, 69%, 1);
    border-radius: 50%;
    min-width: 5rem;
    max-width: 5rem;
    height: 5rem;
    padding: .25rem;
    transition: max-width .2s ease-in-out, min-width .2s ease-in-out, height .2s ease-in-out;
}
header .lh .profile {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-image: url("../../images/global/s9poa.png");
    background-size: cover;
    background-position: center;
}
/* Header Right Side */
header .rh {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5rem;
}
header .rh > div {
    height: 100%;
}
/* Header Right Side - Top Side */
header .rh__top {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: .5rem;
    height: 5rem;
}
header .rh__top > button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5rem;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 5px;
    background: hsla(271, 36%, 23%, 0.2);
    font-size: .8rem;
    transition: padding .2s ease-in-out, gap .2s ease-in-out, font-size .2s ease-in-out;
}
header .rh__top > button > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: gap .2s ease-in-out;
}
header .rh__top > button > div > span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-align: left;
    max-width: 5ch;
}
header .rh__top > button > i {
    color: var(--purple);
}
/* Header Right Side - Bottom Side */
header .rh__bottom {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: .5rem;
}
header .rh__bottom > * {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 5px;
    font-size: .8rem;
    transition: padding .2s ease-in-out, gap .2s ease-in-out, font-size .2s ease-in-out;
    background: hsla(271, 36%, 23%, 0.2);
}
header .rh__bottom .vip {
    font-family: var(--heading-font-family);
    font-weight: 700;
    line-height: 1rem;
    color: #FDC830;
    transition: font-size .2s ease-in-out;
}
@media (max-width: 600px) {
    header .rh__top > button, header .rh__bottom > * {
        padding: 0 .5rem;
        gap: .5rem;
    }
    header .rh__top > button > div {
        gap: .5rem;
    }
}
@media (max-width: 480px) {
    header .lh {
        min-width: 5rem;
        max-width: 5rem;
        height: 5rem;
    }
    header .rh__top > button, header .rh__bottom > * {
        font-size: .6rem !important;
    }
    header {
        padding: .5rem;
        gap: .5rem;
    }
}